body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

h1 {
  color: black;
  font-size: 4rem;
  text-align: center;
  font-family: "Titillium Web";
  margin-top: 1.5rem;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-family: "Titillium Web";
  margin-top: 0;
  margin-bottom: 2rem;
}

form {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
